#root {
  background-color: #f9f2ed;
}

.active {
  color: black;
  font-weight: 800;
  font-size: 1.5rem;
}

.see-events-container {
  display: flex;
  flex-direction: column;
}

.see-events {
  font-weight: 800;
  font-size: 1.5rem;
  color: #fefcf3;
  border: 0.2rem solid;
  padding: 10px 20px;
  border-color: #141619;
}
.see-events:hover {
  background-color: black;
  border-color: #fefcf3;
  color: white;
}

.see-events:active {
  background-color: black;
}

.btn {
  background-color: black !important;
  height: 3rem;
}

a {
  text-decoration: none !important;
}

.navigation {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 5rem 0.5rem;
  background-image: url("https://www.popsci.com/uploads/2022/07/12/carina-nebula-james-webb-space-telescope-camera.jpg?auto=webp&width=1440&height=853.92");
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading p {
  font-weight: 800;
}
@media (min-width: 40em) {
  .navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

/* ///////////////// Alert ////////////////// */

.alert {
  max-width: 20rem;
}

/* /////////////// PicDay ///////////////// */

.pic-day-container {
  padding: 1rem;
  text-align: center;
}

.pic-day-img {
  width: 100%;
}

.pic-day-exp {
  margin-top: 2rem;
  font-weight: 300;
  line-height: 1.8;
  text-align: left;
}

.pic-day-link {
  color: #3d3c42;
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  /* margin-top: 2rem !important; */
}
@media (min-width: 40em) {
  .pic-day-container {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .pic-day-exp-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 0 2rem;
    margin-bottom: 1rem;
  }
  .pic-day-img {
    width: 30%;
  }
  .pic-day-exp {
    max-width: 30rem;
    margin-right: 4rem;
  }
  .pic-day-link {
    margin: 0;
  }
}

/* ////////////// Events //////////////////// */

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 3rem; */
  background-color: #f9f2ed;
  padding: 2rem;
  color: black;
  text-align: center;
}

.sateliteImg {
  width: 70%;
  margin-bottom: 1rem;
}

.events-coordinates {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.go-to {
  border: 0.2rem solid;
  padding: 10px 20px;
  border-color: white;
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
}

.go-to:hover {
  border-color: black;
  color: black;
  background-color: white;
}

@media (min-width: 40em) {
  .events {
    text-align: left;
    width: 19rem;
  }
  .sateliteImg {
    width: 80% !important;
    margin-bottom: 1rem;
  }
}

/* ////////////// Event //////////////////// */

.event {
  background-color: #f9f2ed;
  color: black;
  height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
}

.event-img {
  width: 50%;
  margin: 1rem;
}

@media (min-width: 40em) {
  .event {
  }
  .event-img {
    width: 25%;
  }
}
